@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/ubuntu/Ubuntu-Bold.ttf);
  font-weight: 700;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 72px;
  height: 100vh;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  color: white;
  font-size: 22px;
  margin-left: 79px;
  font-weight: 700;
  font-family: "ubuntu";
  transition: 200ms ease-in-out;
}

.logo:hover {
  color: rgb(38, 104, 70);
}

.nav {
  display: flex;
  margin-right: 79px;
}

.nav-icons {
  display: flex;
}

.icon-wrapper {
  padding-right: 25px;
  display: flex;
  align-items: center;
}

.icon-1 {
  background: url(../assets/logo/Vector.svg);
  width: 21px;
  height: 24px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.icon-2 {
  background: url(../assets/logo/Vector2.svg);
  width: 23px;
  height: 23px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.icon-3 {
  background: url(../assets/logo/Vector3.svg);
  width: 23px;
  height: 23.25px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.icon-1:hover {
  background: url(../assets/logo/VectorHover.svg);
}

.icon-2:hover {
  background: url(../assets/logo/VectorHover2.svg);
}

.icon-3:hover {
  background: url(../assets/logo/VectorHover3.svg);
}

.auth {
  text-align: end;
  margin-top: 4px;
  padding-left: 27px;
  font-size: 15px;
  font-weight: 400;
  font-family: "ubuntu";
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  transition: 200ms ease-in-out;
}

.auth-link:hover {
  transition: 200ms ease-in-out;
  color: rgb(38, 104, 70);
}

.auth:hover {
  color: rgb(168, 168, 168);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__container {
  padding: 38px 60px;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}

.shape {
  position: relative;
  right: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__items:nth-child(2) {
  margin-top: 15px;
}

.menu__item {
  font-family: "ubuntu";
  font-weight: 400;
  font-size: 20px;
  color: rgba(67, 67, 67, 1);
}

.menu-link {
  font-family: "ubuntu";
  font-weight: 400;
  color: rgba(60, 184, 120, 1);
  transition: 200ms ease-in-out;
}

.menu-link:hover {
  text-decoration: underline;
}

.social {
  width: 160px;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "ubuntu";
  font-weight: 400;
  color: white;
}

.social:first-child {
  background-color: rgba(48, 93, 184, 1);
  margin-right: 4px;
  padding: 13px 0;
  transition: 200ms ease-in-out;
}

.social:nth-child(2) {
  background-color: rgba(223, 74, 50, 1);
  padding: 13px 0;
  transition: 200ms ease-in-out;
}

.social:hover:first-child {
  background-color: rgba(2, 34, 99, 1);
}

.social:hover:nth-child(2) {
  background-color: rgba(171, 31, 9, 1);
}

.social-logo-1 {
  padding-right: 18.77px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.social-logo-2 {
  padding-right: 7px;
  border-right: 1px solid rgb(204, 43, 0.22);
  padding-top: 5px;
}

.social-text {
  margin-right: 19px;
}

.lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
}

.lines-text {
  padding: 0 5px;
  font-family: "ubuntu";
  font-weight: 400;
  font-size: 14px;
  color: rgba(132, 132, 132, 1);
}

.line {
  width: 152px;
  height: 1px;
  border: 1px solid rgba(242, 242, 242, 1);
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 15px;
  padding: 15px 19px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 4px;
  outline: none;
  font-family: "ubuntu";
  font-weight: 400;
  font-size: 16px;
}

.input::placeholder {
  color: rgba(190, 190, 190, 1);
}

.input:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

#checkbox {
  margin-top: 12px;
}

.agreements-text {
  margin-left: 8px;
  color: rgba(67, 67, 67, 1);
  font-family: "ubuntu";
  font-size: 16px;
  font-weight: 400;
}

.agreements-link {
  color: rgba(60, 184, 120, 1);
  transition: 200ms ease-in-out;
}

.agreements-link:hover {
  text-decoration: underline;
}

.form__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form__button {
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  padding: 16px 99px;
  color: white;
  font-family: "ubuntu";
  font-weight: 400;
  font-size: 16px;
  transition: 200ms ease-in-out;
}

.form__button:hover {
  background-color: rgba(1, 129, 63, 1);
}
